<head>
    <meta charset="UTF-8">
    <title>관리자 - 검색 결과</title>
    <link rel="stylesheet" href="/css/admin-common.css">
    <link rel="stylesheet" href="/css/product-detail.css">
</head>
<body>
<div class="container">
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li class="category-title">관리자</li>
            <li><a href="/admin/products" class="active">상품 관리</a></li>
            <li><a href="/admin/purchases">주문/환불 관리</a></li>

            <li class="category-divider"></li>

            <li class="category-title">소비자</li>
        </ul>
    </nav>

    <main class="content">
    </main>
</div>
</body>
</html>